.card {
  width: 500px;
  margin-top: 5rem;
  max-width: 90%;
  min-height: 300px;
  /* From https://css.glass */
  /* background: rgba(14, 0, 0, 0.82);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(14, 0, 0, 1);
  padding: 30px;

  border-radius: 50px; */

  background-size: 200px 200px;
  background-repeat: no-repeat;
}

.headingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.heading {
  /* color: #ffdf00; */
  color: #FFFFFF;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1;
  margin-left: 5px;
}

.contCard {
  height: calc(100% - 12%);
  width: calc(100% - 10%);
  margin: 0 auto;
  display: flex;
}

/* .card,
.right {
  flex: 1;
} */

.right img {
  border-radius: 35% 37% 43% 40% / 56% 56% 26% 22%;
  width: 100%;
  height: 100%;
}
