*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
    -webkit-font-smoothing: antialised;
}
img{
    max-width: 100%;
    height: auto;
}

body{
 font-family: 'Nunito', sans-serif;
 background-image: url("../public/images/Background.jpg");
 background-size: auto;

 color: yellow;
}

.container{
    width:1200px;
    max-width:90%;
    margin: 0 auto;
}

p,span{
    color:coral
}
.cardWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
