.cardWrapper{
    display: flex;
    align-items: center;   
    max-height: calc(100% - 200px);
    width: calc(100% - 100px);
   
}
.buttonWrap{
    margin-bottom: 10px;
    display: flex;
    width: 450px;
    align-items: center;    height: calc(100% - 200px);
    justify-content: flex-end;
    padding-right: 50px;
}

.tabButton{
    width: 40px;
    height: 40px;
    background: #262626;
    border-radius: 5px;
    border:none;
    outline:none;
   
}

.tabButton:last-child{
    margin-left: 5px;
}

.active{
    background: #0077ff;
}

.actionButtonWrap{
    margin-top: 20px;
}

.bottomParagraph{
    color: rgb(216, 212, 212);
    font-size: 1.25rem;
    font-weight: 500 ;
    width: 70%;
    margin-top: 1rem;
    line-height: 14px;
}
.photos{
    width: 2rem;
    height: 2rem;
}

/* .card {
    width: 450px;
    max-width: 90%;
    min-height: 300px;
    /* From https://css.glass */
    /* background: rgba(178, 75, 243, 0.32);
    border-radius: 16px; */
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(178, 75, 243, 0.11); 
     padding: 30px;
    text-align: center;
    border-radius: 25px;
    background-image: url(../../../../public/images/blob.svg);
    background-size: 200px 200px;
    background-repeat: no-repeat; 
}
*/

.authBox{
    width: 4rem;
    height: 2rem;
}

.authCon{
    position: absolute;
    height: 100%;
    width: 100%;
}

.otpCon{
    margin: 0 2rem;
}

.container{
    width: calc(100% - 200px);
    margin: 0;
}